/*Here is where the body styles start*/
body {
    background-color: $blueBackground;
}

.container {
    /* margin-top: 0; */
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: $allText;
    width: 1100px;
    margin: 0 auto;
    background-color: white;
    /*border: 1px solid black;*/
    /*padding: .5em 2em;*/
}

section {
    /*float: left;*/
    width: 800px;
    margin: auto;
    padding-bottom: 1.5em;
    h2{
        font-size: 2em;
        text-align: center;
    }
    a{
        text-decoration: none;
        color: black;
    }
}

ul {
    margin: 0 0 1em 0;
    padding: 0 0 0 2.5em;
}
li {
    margin: 0;
    padding: 0;
}
a {
    color: rgb(41, 64, 124);
    font-weight: bold;
    :hover {
        color: rgb(208, 133, 4);
    }
}
table {
    border: 1px solid black;
    border-collapse: collapse;
    tr:hover {
        background-color: #f5f5f5;
    }
    td, th {
        font-size: 1.2em;
        border: 1px solid black;
        padding: .2em .5em .2em .5em;
        vertical-align: middle;
        text-align: center;
        tr:nth-child(odd){
            background-color: grey;
        }
    }
    
}


/* the styles for classes */
.right {
    text-align: right;
}
.last_paragraph {
	margin-bottom: 2em;	
}
.margin_top_increase {
	margin-top: 1em;	
}
.deleteButton, .editButton{
    padding: 15px;
    border-radius: 15px;
    height: 100%;
    width: 100%;
    font-size: 1em;
    margin: auto;
}
.deleteButton{
    background-color: $deleteButton;
}
.editButton{
    background-color: $editButton;
}
.backToHome{
    text-decoration: none;
    color: black;
}



/*Forms*/
form {
    margin: 0;
}
#add_product_form {
    margin: .5em 0 1em;
    label {
        width: 6em;
        padding-right: 1em;
        padding-bottom: .5em;
        float: left;
    }
    input {
        float: left;
        [text] {
            width: 15em;
        }
    }
}
.cat_table{

    margin: 0 auto;
    width: 300px;

}

img{
    border-radius: 50px;
}
br {
    clear: left;
}