/*Here is where the fonts styles start*/
/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,300&family=Ribeye&display=swap');

h1 {
    font-size: 150%;
    margin: 0;
    padding: .5em 0 .25em;
    color: #333;
}
h2 {
    font-size: 120%;
    margin: 0;
    padding: .25em 0 .5em;
    color: #333;
    text-align: center;
}

.pageTitle{
    text-align: center;
}

