/*Here is where the header styles start*/
header {
    margin: 0;
    border-bottom: 2px solid black;
    background-color: $blueHeader;
    height: 150px;
    h1 {
        font-size: 50px;
        margin: 0;
        padding: 0;
        color: black;
        font-family: $headerNavFont;
        text-align: center;
        a{
            text-decoration: none;
            color: #000;
        }
    }
}


