/*Here is where the sidebar styles start*/
aside {
    float: left;
    width: 100%;
    h2{
        text-align: center;
    }
}

nav{   
    border-bottom: 2px solid black;
    ul{
        list-style-type: none;
        margin: 0 auto;
        padding-left: 1em;
        li {
            padding: 1em;
            height: 20px;
            text-align: left;
            font-size: 1.7em;
            display: inline-block;
        a {
            text-decoration: none;
            color: black;
            }
        }
        
    }
}

/*nav ul ul{
    
    display: none;
}*/

/*ul:hover ul{

        position: absolute;
        display: block;
        text-align: left;

}*/