/*Here is where the variables styles start*/

/*colours*/
$paleBackgroundBlue: #d8d8e6;
$blueBackground: #85DCBA;
$blueHeader: #41B3A3;
$pinkText: #C38D9E;

/*Buttons*/
$deleteButton: #E27D60;
$editButton: #E8A87C;



$headerNavFont: 'Ribeye', cursive;

$allText: 'Raleway', sans-serif;