/*Here is where the variables styles start*/
/*colours*/
/*Buttons*/
/*To use in ca_validation.js*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,300&family=Ribeye&display=swap");
:export {
  validGreen: #00AF33;
  invalidRed: #FF0000;
}

/*Here is where the fonts styles start*/
/*Google Fonts*/
h1 {
  font-size: 150%;
  margin: 0;
  padding: .5em 0 .25em;
  color: #333;
}

h2 {
  font-size: 120%;
  margin: 0;
  padding: .25em 0 .5em;
  color: #333;
  text-align: center;
}

.pageTitle {
  text-align: center;
  padding-top: 1em;
}

ul {
  font-family: "Raleway", sans-serif;
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.outputMessages {
  text-align: center;
  font-size: 2em;
}

/*Here is where the header styles start*/
header {
  margin: 0;
  border-bottom: 2px solid black;
  background-color: #41B3A3;
  height: 150px;
}

header h1 {
  font-size: 50px;
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Ribeye", cursive;
  text-align: center;
}

header h1 a {
  text-decoration: none;
  color: #000;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 12px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #41B3A3;
  color: black;
}

/*Here is where the body styles start*/
body {
  background-color: #85DCBA;
}

.container {
  /* margin-top: 0; */
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: "Raleway", sans-serif;
  width: 1100px;
  margin: 0 auto;
  background-color: white;
  /*border: 1px solid black;*/
  /*padding: .5em 2em;*/
}

section {
  /*float: left;*/
  width: 800px;
  margin: auto;
  padding-bottom: 1.5em;
}

section h2 {
  font-size: 2em;
  text-align: center;
}

section a {
  text-decoration: none;
  color: black;
}

ul {
  margin: 0 0 1em 0;
  padding: 0 0 0 2.5em;
}

li {
  margin: 0;
  padding: 0;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

table tr:hover {
  background-color: #f5f5f5;
}

table td, table th {
  font-size: 1.2em;
  border: 1px solid black;
  padding: .2em .5em .2em .5em;
  vertical-align: middle;
  text-align: center;
}

table td tr:nth-child(odd), table th tr:nth-child(odd) {
  background-color: grey;
}

/* the styles for classes */
.right {
  text-align: right;
}

.last_paragraph {
  margin-bottom: 2em;
}

.margin_top_increase {
  margin-top: 1em;
}

.deleteButton, .editButton {
  padding: 15px;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  font-size: 1em;
  margin: auto;
}

.deleteButton {
  background-color: #E27D60;
}

.editButton {
  background-color: #E8A87C;
}

.backToHome {
  text-decoration: none;
  color: black;
}

.loginOut {
  text-align: center;
  padding: 1em;
}

/*Forms*/
form {
  margin: 0 auto;
}

#add_product_form {
  margin: .5em 0 1em;
}

#add_product_form label {
  width: 6em;
  padding-right: 1em;
  padding-bottom: .5em;
  float: left;
}

#add_product_form input {
  float: left;
}

#add_product_form input [text] {
  width: 15em;
}

.cat_table {
  margin: 0 auto;
  /*width: 300px;*/
}

img {
  border-radius: 50px;
}

br {
  clear: left;
}

span {
  padding-left: 5px;
}

/*Here is where the sidebar styles start*/
aside {
  float: left;
  width: 100%;
}

aside h2 {
  text-align: center;
}

nav {
  border-bottom: 2px solid black;
}

nav ul {
  list-style-type: none;
  margin: 0 auto;
  padding-left: 1em;
}

nav ul li {
  padding: 1em;
  height: 20px;
  text-align: left;
  font-size: 1.7em;
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

/*nav ul ul{
    
    display: none;
}*/
/*ul:hover ul{

        position: absolute;
        display: block;
        text-align: left;

}*/
/*Here is where the footer styles start*/
footer {
  clear: both;
  margin-top: 1em;
  border-top: 2px solid black;
}

footer p {
  text-align: right;
  font-size: 80%;
  margin: 1em 0;
}
/*# sourceMappingURL=mystyle.css.map */